version: '3.4'

services:
  projektor_mssql:
    image: mcr.microsoft.com/mssql/server:2017-latest

  projektor_rabbitmq:
    image: rabbitmq:3-management-alpine

  movies.api:
    image: ${DOCKER_REGISTRY-}moviesapi
    build:
      context: .
      dockerfile: Services/Movies/Movies.API/Dockerfile

  identity:
    image: ${DOCKER_REGISTRY-}identity
    build:
      context: .
      dockerfile: Services/Identity/Dockerfile

  mailer:
    image: ${DOCKER_REGISTRY-}mailer
    build:
      context: .
      dockerfile: Services/Mailer/Dockerfile

  webgateway:
    image: ${DOCKER_REGISTRY-}webgateway
    build:
      context: .
      dockerfile: ApiGateways/WebGateway/Dockerfile

volumes:
  mssql_data:
