version: '3.4'

services:
  projektor_mssql:
    image: mcr.microsoft.com/mssql/server:2017-latest

  projektor_rabbitmq:
    image: docker.io/rabbitmq:3-management-alpine

  projektor_postgres:
    image: docker.io/postgres:14

  projektor_pgadmin:
    image: docker.io/dpage/pgadmin4

  movies.api:
    image: ${DOCKER_REGISTRY-}moviesapi
    build:
      context: .
      dockerfile: Services/Movies/Movies.API/Dockerfile

  identity:
    image: ${DOCKER_REGISTRY-}identity
    build:
      context: .
      dockerfile: Services/Identity/Dockerfile

  mailer:
    image: ${DOCKER_REGISTRY-}mailer
    build:
      context: .
      dockerfile: Services/Mailer/Dockerfile

  screening.api:
    image: ${DOCKER_REGISTRY-}screening.api
    build:
      context: .
      dockerfile: Services/Screening.API/Dockerfile

  webgateway:
    image: ${DOCKER_REGISTRY-}webgateway
    build:
      context: .
      dockerfile: ApiGateways/WebGateway/Dockerfile

  review:
    image: ${DOCKER_REGISTRY-}review
    build:
      context: .
      dockerfile: Services/Review/Dockerfile

  reservation:
    image: ${DOCKER_REGISTRY-}reservation
    build:
      context: .
      dockerfile: Services/Reservation/Dockerfile

volumes:
  mssql_data:
  postgres_data:
  pgadmin_data:

