version: '3.4'

services:
  projektor_mssql:
    container_name: projektor_mssql
    environment:
      - SA_PASSWORD=MatfRs2_MSSQL
      - ACCEPT_EULA=Y
    ports:
      - "1433:1433"
    volumes:
      - mssql_data:/var/opt/mssql/data
      - ./Services/Movies/Movies.API/Seed:/var/seed
      - ./Services/Screening/Seed:/var/seed_screening

  projektor_rabbitmq:
    container_name: projektor_rabbitmq
    ports:
     - "5672:5672" 
     - "15672:15672"

  movies.api:
    container_name: movies.api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "ConnectionStrings:MoviesConnectionString=Server=projektor_mssql;Database=MoviesDb;User Id=sa;Password=MatfRs2_MSSQL;"
    depends_on:
      - projektor_mssql
    ports:
      - "5000:80"

  identity:
    container_name: identity
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "ConnectionStrings:IdentityConnectionString=Server=projektor_mssql;Database=IdentityDb;User Id=sa;Password=MatfRs2_MSSQL;"
    depends_on:
      - projektor_mssql
    ports:
      - "5010:80"
  
  mailer:
    container_name: mailer
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "EventBus:Host=amqp://projektor_rabbitmq:5672"
    depends_on:
      - projektor_rabbitmq
    ports:
      - "5009:80"

  screening:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "ConnectionStrings:ScreeningsConnectionString=Server=projektor_mssql;Database=ScreeningDb;User Id=sa;Password=MatfRs2_MSSQL;"
    ports:
      - "5008:80"
    depends_on:
      - projektor_mssql
