<h2>Reservation Confirmation</h2>

<table>
  <tr>
    <td>Movie:</td>
    <td>{1}</td>
  </tr>
  <tr>
    <td>Date:</td>
    <td>{2:dd.MM.yyyy}</td>
  </tr>
  <tr>
    <td>Time:</td>
    <td>{2:HH:mm}</td>
  </tr>
  <tr>
    <td>Hall:</td>
    <td>{3}</td>
  </tr>
  <tr>
    <td>Seats:</td>
    <td>{4}</td>
  </tr>
  <tr>
    <td>Price:</td>
    <td>{5:0.00}</td>
  </tr>
</table>

<img src="data:image/png;base64,{6}" width="250" alt="{0}" />

<p>
Reservation number: {0:D4}
</p>

<p>You can cancel this reservation in the 'My Reservations' section of your account at 
  <a href="http://localhost:3000" target="_blank" rel="noreferrer">http://localhost:3000</a>
</p>