name: PrettierCheck

on:
  workflow_dispatch:
  pull_request:
    branches: [ main ]
    
jobs:
  CheckPrettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Check if all files are formatted
        run: npx prettier --check "./app/**"
