name: Reservation

on:
  workflow_dispatch:
  push:
    branches:
      - main

    paths:
      - "Common/Auth/**"
      - "Services/Reservation/**"
      - ".github/workflows/Reservation.yml"

  pull_request:
    branches:
      - main

    paths:
      - "Common/Auth/**"
      - "Services/Reservation/**"
      - ".github/workflows/Reservation.yml"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Build the Reservation service
        shell: bash
        run: |
          cd Services/Reservation
          dotnet build
