name: Screening.API

on:
  workflow_dispatch:
  push:
    branches:
      - main
    
    paths:
      - "Services/Screening/Screening.Common/**"
      - "Services/Screening/Screening.API/**"
      - ".github/workflows/Screening.API.yml"
      
  pull_request:
    branches:
      - main
    
    paths:
      - "Services/Screening/Screening.Common/**"
      - "Services/Screening/Screening.API/**"
      - ".github/workflows/Screening.API.yml"

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Build the Screening.API service
        shell: bash
        run: |
          cd Services/Screening/Screening.API
          dotnet build
